name: Continuous Integration

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Check formatting
        run: npm run format:check

      - name: Lint code
        run: npm run lint
